In [196]:
import pandas as pd
import numpy as np


df = pd.read_csv('res/ObesityDataSet_raw_and_data_sinthetic.csv')

In [197]:
df.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [198]:
df['CH2O'].value_counts()

CH2O
2.000000    448
1.000000    211
3.000000    162
2.825629      3
1.636326      3
           ...
1.651548      1
2.405172      1
2.469469      1
2.503198      1
2.452986      1
Name: count, Length: 1268, dtype: int64

In [199]:
df['FCVC'].value_counts()

FCVC
3.000000    652
2.000000    600
1.000000     33
2.568063      2
2.971574      2
           ...
2.010684      1
2.300408      1
2.119643      1
2.901924      1
2.749629      1
Name: count, Length: 810, dtype: int64

In [200]:
df['NCP'].value_counts()

NCP
3.000000    1203
1.000000     199
4.000000      69
2.644692       2
2.776840       2
            ...
3.335876       1
3.205009       1
3.648194       1
1.865238       1
3.370362       1
Name: count, Length: 635, dtype: int64

In [201]:
df['FAF'].value_counts()

FAF
0.000000    411
1.000000    234
2.000000    183
3.000000     75
1.399183      2
           ...
0.674348      1
0.285889      1
0.678943      1
0.893362      1
0.340915      1
Name: count, Length: 1190, dtype: int64

In [202]:
df['TUE'].value_counts()

TUE
0.000000    557
1.000000    292
2.000000    109
0.630866      4
0.002600      3
           ...
0.790967      1
1.886855      1
0.003695      1
0.608607      1
0.464022      1
Name: count, Length: 1129, dtype: int64

#### Como es un dataset que ha sido ampliado utlizando SMOTE tenemos que hacer varios arreglos importantes en el propio dataset

In [203]:
# Trimeamos de la columna Age los decimales cortando todos los decimales y convierto a int

df['Age'] = df['Age'].apply(lambda x: str(x).split('.')[0])

df['Age']

0       21
1       21
2       23
3       27
4       22
        ..
2106    20
2107    21
2108    22
2109    24
2110    23
Name: Age, Length: 2111, dtype: object

In [204]:
# En Height cortamos y dejamos solo dos decimales
df['Height'] = np.floor(df['Height'] * 100) / 100
df['Height']

0       1.62
1       1.52
2       1.80
3       1.80
4       1.78
        ...
2106    1.71
2107    1.74
2108    1.75
2109    1.73
2110    1.73
Name: Height, Length: 2111, dtype: float64

In [205]:
# En Weight cortamos y dejamos solo un decimal
df['Weight'] = np.floor(df['Weight'] * 10) / 10
df['Weight']

0        64.0
1        56.0
2        77.0
3        87.0
4        89.8
        ...
2106    131.4
2107    133.7
2108    133.6
2109    133.3
2110    133.4
Name: Weight, Length: 2111, dtype: float64

In [206]:
# Para la variable FCVC que son numeros del 1 al 3 aproximamos si esta por encima de x.50 hacia arriba y sino hacia abajo
def round_to_nearest_limited(x, min_val=1, max_val=3):
    rounded = round(x)
    return max(min_val, min(max_val, rounded))

df['FCVC'] = df['FCVC'].apply(lambda x: round_to_nearest_limited(x, min_val=1, max_val=3))
df['FCVC'].value_counts()

FCVC
2    1013
3     996
1     102
Name: count, dtype: int64

In [207]:
# Para la variable NCP que son numeros del 1 al 4 

df['NCP'] = df['NCP'].apply(lambda x: round_to_nearest_limited(x, min_val=1, max_val=4))
df['NCP'].value_counts()

NCP
3    1470
1     316
2     176
4     149
Name: count, dtype: int64

In [208]:
df['CH2O'] = df['CH2O'].apply(lambda x: round_to_nearest_limited(x, min_val=1, max_val=3))
df['CH2O'].value_counts()

CH2O
2    1110
3     516
1     485
Name: count, dtype: int64

In [209]:
df['FAF'] = df['FAF'].apply(lambda x: round_to_nearest_limited(x, min_val=0, max_val=3))
df['FAF'].value_counts()

FAF
1    776
0    720
2    496
3    119
Name: count, dtype: int64

In [210]:
df['TUE'] = df['TUE'].apply(lambda x: round_to_nearest_limited(x, min_val=0, max_val=2))
df['TUE'].value_counts()

TUE
0    952
1    915
2    244
Name: count, dtype: int64

### Reconvierto las variables de texto a nÃºmericas

In [211]:
#Gender male = 0 -> Female = 1
df['Gender'] = df['Gender'].replace({'Male' : 1,'Female' : 0})
df['Gender']

/tmp/ipykernel_5519/874680266.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Gender'] = df['Gender'].replace({'Male' : 1,'Female' : 0})

0       0
1       0
2       1
3       1
4       1
       ..
2106    0
2107    0
2108    0
2109    0
2110    0
Name: Gender, Length: 2111, dtype: int64

In [212]:
#family_history_with_overweight yes = 1 -> no = 0
df['family_history_with_overweight'] = df['family_history_with_overweight'].replace({'yes' : 1,'no' : 0})
df['family_history_with_overweight']

/tmp/ipykernel_5519/1396405093.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['family_history_with_overweight'] = df['family_history_with_overweight'].replace({'yes' : 1,'no' : 0})

0       1
1       1
2       1
3       0
4       0
       ..
2106    1
2107    1
2108    1
2109    1
2110    1
Name: family_history_with_overweight, Length: 2111, dtype: int64

In [213]:
#FAVC yes = 1 -> no = 0
df['FAVC'] = df['FAVC'].replace({'yes' : 1,'no' : 0})
df['FAVC']

/tmp/ipykernel_5519/519516511.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['FAVC'] = df['FAVC'].replace({'yes' : 1,'no' : 0})

0       0
1       0
2       0
3       0
4       0
       ..
2106    1
2107    1
2108    1
2109    1
2110    1
Name: FAVC, Length: 2111, dtype: int64

In [214]:
#CAEC no = 0 -> sometimes = 1 -> frequently = 2 -> always = 3
df['CAEC'] = df['CAEC'].replace({'no' : 0,'Sometimes' : 1,'Frequently' : 2,'Always' : 3})
df['CAEC'].value_counts()

/tmp/ipykernel_5519/1199883564.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['CAEC'] = df['CAEC'].replace({'no' : 0,'Sometimes' : 1,'Frequently' : 2,'Always' : 3})

CAEC
1    1765
2     242
3      53
0      51
Name: count, dtype: int64

In [215]:
df['SMOKE'].value_counts()

SMOKE
no     2067
yes      44
Name: count, dtype: int64

In [216]:
#SMOKE yes = 1 -> no = 0
df['SMOKE'] = df['SMOKE'].replace({'yes' : 1,'no' : 0})
df['SMOKE'].value_counts()

/tmp/ipykernel_5519/1870456624.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['SMOKE'] = df['SMOKE'].replace({'yes' : 1,'no' : 0})

SMOKE
0    2067
1      44
Name: count, dtype: int64

In [217]:
#SCC yes = 1 -> no = 0
df['SCC'] = df['SCC'].replace({'yes' : 1,'no' : 0})
df['SCC'].value_counts()

/tmp/ipykernel_5519/2000253229.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['SCC'] = df['SCC'].replace({'yes' : 1,'no' : 0})

SCC
0    2015
1      96
Name: count, dtype: int64

In [218]:
#CALC no = 0 -> sometimes = 1 -> frequently = 2 -> always = 3
df['CALC'] = df['CALC'].replace({'no' : 0,'Sometimes' : 1,'Frequently' : 2,'Always' : 3})
df['CALC'].value_counts()

/tmp/ipykernel_5519/414165507.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['CALC'] = df['CALC'].replace({'no' : 0,'Sometimes' : 1,'Frequently' : 2,'Always' : 3})

CALC
1    1401
0     639
2      70
3       1
Name: count, dtype: int64

In [219]:
#MTRANS walking = 0 -> bicycle = 1 -> motorbike = 2 -> public transport = 3 -> car = 4
df['MTRANS'] = df['MTRANS'].replace({'Walking' : 0,'Bike' : 1,'Motorbike' : 2,'Public_Transportation' : 3,'Automobile' : 4})
df['MTRANS'].value_counts()

/tmp/ipykernel_5519/40887276.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['MTRANS'] = df['MTRANS'].replace({'Walking' : 0,'Bike' : 1,'Motorbike' : 2,'Public_Transportation' : 3,'Automobile' : 4})

MTRANS
3    1580
4     457
0      56
2      11
1       7
Name: count, dtype: int64

In [220]:
df['NObeyesdad'].value_counts()

NObeyesdad
Obesity_Type_I         351
Obesity_Type_III       324
Obesity_Type_II        297
Overweight_Level_I     290
Overweight_Level_II    290
Normal_Weight          287
Insufficient_Weight    272
Name: count, dtype: int64

### Nos Guardamos los cambios para poder interpretarlo
    0 = Insufficient_Weight
    1 = Normal_Weight
    2 = Overweight_Level_I
    3 = Overweight_Level_II
    4 = Obesity_Type_I
    5 = Obesity_Type_II
    6 = Obesity_Type_III

In [221]:
#NObeyesdad Insufficient weight = 0 -> Normal weight = 1 -> Overweight Level I = 2 -> Overweight Level II = 3 -> Obesity Type I = 4 -> Obesity Type II = 5 -> Obesity Type III = 6
df['NObeyesdad'] = df['NObeyesdad'].replace({'Insufficient_Weight' : 0,'Normal_Weight' : 1,'Overweight_Level_I' : 2,'Overweight_Level_II' : 3,'Obesity_Type_I' : 4,'Obesity_Type_II' : 5,'Obesity_Type_III' : 6})
df['NObeyesdad'].value_counts()

/tmp/ipykernel_5519/2146130774.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['NObeyesdad'] = df['NObeyesdad'].replace({'Insufficient_Weight' : 0,'Normal_Weight' : 1,'Overweight_Level_I' : 2,'Overweight_Level_II' : 3,'Obesity_Type_I' : 4,'Obesity_Type_II' : 5,'Obesity_Type_III' : 6})

NObeyesdad
4    351
6    324
5    297
2    290
3    290
1    287
0    272
Name: count, dtype: int64

| CÃ³digo Original | Nombre Interpretado             |
|-----------------|---------------------------------|
| FAVC            | High_Caloric_Intake            |
| FCVC            | Vegetables_Intake              |
| NCP             | Daily_Main_Meals               |
| CAEC            | Food_Between_Meals             |
| CH2O            | Daily_Water_Consumption        |
| SCC             | Calories_Monitored             |
| FAF             | Physical_Activity              |
| TUE             | HowMuch_Time_Tech_Devices      |
| CALC            | Alcohol_Consumption            |
| SMOKE           | Smoker                         |
| MTRANS          | Transport_Method               |

In [222]:
# Vamos a renombar las columnas para que sea mÃ¡s interpretable

df = df.rename(columns={
    'FAVC': 'High_Caloric_Intake',
    'FCVC': 'Vegetables_Intake',
    'NCP': 'Daily_Main_Meals',
    'CAEC': 'Food_Between_Meals',
    'CH2O': 'Daily_Water_Consumption',
    'SCC': 'Calories_Monitored',
    'FAF': 'Physical_Activity',
    'TUE': 'HowMuch_Time_Tech_Devices',
    'CALC': 'Alcohol_Consumption',
    'SMOKE': 'Smoker',
    'MTRANS': 'Transport_Method',
    'family_history_with_overweight': 'Family_History_Overweight',
})
df.head()

,Gender,Age,Height,Weight,Family_History_Overweight,High_Caloric_Intake,Vegetables_Intake,Daily_Main_Meals,Food_Between_Meals,Smoker,Daily_Water_Consumption,Calories_Monitored,Physical_Activity,HowMuch_Time_Tech_Devices,Alcohol_Consumption,Transport_Method,NObeyesdad
0,0,21,1.62,64.0,1,0,2,3,1,0,2,0,0,1,0,3,1
1,0,21,1.52,56.0,1,0,3,3,1,1,3,1,3,0,1,3,1
2,1,23,1.80,77.0,1,0,2,3,1,0,2,0,2,1,2,3,1
3,1,27,1.80,87.0,0,0,3,3,1,0,2,0,2,0,2,0,2
4,1,22,1.78,89.8,0,0,2,1,1,0,2,0,0,0,1,3,3

### Guardamos el dataset limpio para poder utilizarlo en el futuro

In [223]:
df.to_csv('res/ObesityDataSet_Clean_WithAllColumns.csv', index=False)

#### TransformaciÃ³n de la columna `Transport_Method`

La columna `Transport_Method` indica el medio de transporte habitual de una persona. Para simplificarla e interpretar si una persona realiza actividad fÃ­sica durante sus desplazamientos, se propone agruparla en una variable binaria:

- Si la persona **camina** o **usa bicicleta**, se considera que **realiza actividad fÃ­sica** â†’ valor `1`.
- Si usa **moto**, **coche** o **transporte pÃºblico**, se considera que **no realiza actividad fÃ­sica** â†’ valor `0`.

Esta transformaciÃ³n permite incorporar esta variable como un indicador de estilo de vida activo o sedentario.

In [224]:
# Crear nueva variable binaria basada en el tipo de transporte
df['Transport_Method'] = df['Transport_Method'].replace({
    0: 1,
    1: 1,
    2: 0,
    3: 0,
    4 : 0
})
df['Transport_Method'].value_counts()

Transport_Method
0    2048
1      63
Name: count, dtype: int64

#### Consideramos que la columna de si contabilizas tu ingesta de calorÃ­as no aporta mucha informaciÃ³n aparte de que es una columna muy desbalanceada

In [225]:
df['Calories_Monitored'].value_counts()

Calories_Monitored
0    2015
1      96
Name: count, dtype: int64

In [226]:
# Eliminar la columna 'Calories_Monitored'
df = df.drop(columns=['Calories_Monitored'])

#### Sabiendo que el Nivel de Obesidad estÃ¡ calculado utilizando el IMC como muestra el Paper : https://www.sciencedirect.com/science/article/pii/S2352340919306985?via%3Dihub#fd1

#### Vamos a hacer una bifurcaciÃ³n del dataset uno en el que guardamos all y otro en el que quitamos altura y peso

In [227]:
# Guardamos un dataset sin altura y peso y otro con altura y peso
df_Height_Weight = df.copy()
df_Height_Weight = df_Height_Weight.drop(['Height', 'Weight'], axis=1)
df_Height_Weight.to_csv('res/ObesityDataSet_Clean_Without_HeightWeight.csv', index=False)